body{
  background-image: url(/public/img/fondoNubes.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  }


  h2{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: dashed black;
    text-shadow: 4px 2px 10px black;
  }

img{
  width: 450px;
}


@media (max-width: 768px){
  .title{
    max-width: 80%;
  }
}